
.home-container {
  display: flex;
  background: #ffffff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  flex-wrap: nowrap;
}

.main-content {
  position: relative;
  flex: 1;
  overflow-y: auto;
  background-color: #1E1E1E;
}

/* === MUSIC GENRES ===== */

.weekly-top {
  position: relative;
  z-index: 2;
  border-radius: 16px;
  padding: 60px 50px;
}

.weekly-top h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.song-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.song-card {
  background: #1c1c1c;
  border-radius: 12px;
  padding: 10px;
  width: 170px;
  transition: 0.3s;
  cursor: pointer;
}

.song-card:hover {
  transform: translateY(-5px);
  background: #292929;
}

.song-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.song-card h3 {
  font-size: 1rem;
  font-weight: bold;
}

.song-card p {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.view-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: white;
}

.view-all .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 8px;
  cursor: pointer;
}

.view-all .circle:hover {
  background: #e245c0;
}


.artist-list {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto; 
}

/* ===== POPULAR ARTIST ====*/

.artist {
  text-align: center;
  color: #fff;
}

.artist img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.artist img:hover {
  transform: scale(1.08);
}

.artist p {
  margin-top: 0.8rem;
  font-size: 1rem;
}


/* ===== MUSIC VIDEO ===== */


.video-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  
  overflow-y: auto;
}

.video-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  flex: 0 0 300px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.video-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.video-card p {
  color: #ccc;
  margin-top: 0.3rem;
}

.video-card span {
  display: block;
  color: #999;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.video-card:hover {
  transform: translateY(-5px);
  background: #292929;
}

.view-all-btn{
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  background: #1b1b1b;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}


.view-all-btn:hover{
  background: #b80df2;
  color: #fff;
}
