
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  background: #ffffff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  flex-wrap: nowrap;
}

/* MAIN CONTENT */

.main-content {
  position: relative;
  flex: 1;
  overflow-y: auto;
  background-color: #1E1E1E;
}



/* BANNER */

.banner {
  position: relative;
  z-index: 2;
  height: 70vh;
  min-height: 480px;
  margin: 30px 50px;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.user-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  transition: 0.3s;
}

.user-section:hover{
  color: #ff4bd1;
  transform: translateY(-2px);
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: center;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 130px;
  overflow: hidden;
  z-index: 10;
}

.dropdown-item {
  background: transparent;
  border: none;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown-item:hover {
  background: rgba(210, 119, 255, 0.15);
  color: #d277ff;
}

.logout:hover {
  color: #ff6b6b;
}



.banner-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  z-index: 2;
}

.search-box {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  padding: 8px 14px;
  border-radius: 12px;
  width: 320px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
}

.search-icon {
  margin-right: 8px;
  color: #aaa;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff4bd1;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background: #e83dc0;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #c52ea5;
}

.btn-outline {
  background: transparent;
  color: #ff4bd1;
  border: 1px solid #ff4bd1;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #ff4bd1;
  color: #fff;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #d63dd6;
}

.banner-content p {
  color: #ddd;
  margin-bottom: 30px;
  line-height: 1.6;
}

.banner-buttons {
  display: flex;
  gap: 15px;
}

/* WEEKLY SONGS */


.weekly-top {
  position: relative;
  z-index: 2;
  border-radius: 16px;
  padding: 60px 50px;
}

.weekly-top h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.song-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.song-card {
  background: #1c1c1c;
  border-radius: 12px;
  padding: 10px;
  width: 170px;
  transition: 0.3s;
  cursor: pointer;
}

.song-card:hover {
  transform: translateY(-5px);
  background: #292929;
}

.song-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.song-card h3 {
  font-size: 1rem;
  font-weight: bold;
}

.song-card p {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.view-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: white;
}

.view-all .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 8px;
  cursor: pointer;
}

.view-all .circle:hover {
  background: #e245c0;
}


/* Trending Songs */


.trending-header {
  display: grid;
  grid-template-columns: 2.5fr 1fr 2fr 1fr;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 10px;
  padding: 0 20px;
}

.trending-list {
  display: flex;
  flex-direction: column;
}

.trending-item {
  display: grid;
  grid-template-columns: 2.5fr 1fr 2fr 1fr;
  align-items: center;
  background: #1b1b1b;
  border-radius: 8px;
  padding: 10px 20px;
  
}

.trending-item:hover {
  background: #2a2a2a;
}

.song-rank {
  font-weight: 600;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.song-rank{
  font-weight: bold;
  font-size: 18px;
  width: 32px;
  text-align: center;
}

.song-info img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

.song-info h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.song-info p {
  font-size: 13px;
  color: #aaa;
  margin: 0;
}

.song-date,
.song-album,
.song-time {
  font-size: 14px;
}

.song-time {
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-all-btn{
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  background: #1b1b1b;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.view-all-btn:hover{
  background: #b80df2;
  color: #fff;
}

/* TOP ARTISTS */

.artist-list {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto; 
}

.artist {
  text-align: center;
  color: #fff;
}

.artist img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.artist img:hover {
  transform: scale(1.08);
}

.artist p {
  margin-top: 0.8rem;
  font-size: 1rem;
}

/* MUSIC VIDEOS */

.video-list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.video-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  flex: 0 0 300px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.video-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.video-card p {
  color: #ccc;
  margin-top: 0.3rem;
}

.video-card span {
  display: block;
  color: #999;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.video-card:hover {
  transform: translateY(-5px);
  background: #292929;
}

.view-all-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: white;
  align-self: center;
}

.view-all-video .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 8px;
  cursor: pointer;
}

.view-all-video .circle:hover {
  background: #e245c0;
}

