* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home-container {
  display: flex;
  background: #ffffff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  flex-wrap: nowrap;
}


/* MAIN CONTENT */

.main-content {
  position: relative;
  flex: 1;
  overflow-y: auto;
  background-color: #1E1E1E;
}

.playlist-container {
  background: linear-gradient(to right, #2f6bd7, #1c3b50);
  color: #fff;
  padding: 30px;
  margin: 60px 40px;
  overflow: hidden;
  border-radius: 25px;

}

.playlist-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.back-btn{
  cursor: pointer;
}
.back-btn:hover{
  color: #ff4bd1;
}

.playlist-nav-end{
  display: flex;
  align-items: center;
  gap: 50px;

}

.playlist-nav-end a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.playlist-nav-end a:hover{
  color: #ff4bd1;
}


/* ==== PLAYLIST  */


.playlist-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.cover img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.info {
  flex: 1;
  align-items: flex-start;
}


.title {
  
  font-size: 40px;
  font-weight: bold;
}

.title span {
  color: #ff3db8;
}

.artists {
  margin-top: 15px;
  font-size: 18px;
  opacity: 0.9;
  max-width: 300px;
}

.meta {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 25px;
  font-size: 18px;
}

.info-playlist{
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-playlist .dot {
  width: 8px;
  height: 8px;
  background: #ff3db8;
  border-radius: 50%;
}

.play-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  
  cursor: pointer;
}

.play-wrapper span{
  font-weight: bold;
  color: #ff3db8;
  font-size: 18px;
}

.play-icon {
  width: 55px;
  height: 55px;
  color: #ff3db8;
}

.play-wrapper:hover .play-icon{
  color: #fff;
}

.play-wrapper:hover span{
  color: #fff;
}



.song-table {
  width: 100%;
  max-width: 1100px;
  margin-top: 20px;
}

/* Header */
.table-header {
  display: grid;
  grid-template-columns: 40px 1.5fr 1fr 1.2fr 120px;
  padding: 12px 0;
  opacity: 0.8;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.song-row {
  display: grid;
  grid-template-columns: 40px 1.5fr 1fr 1.2fr 120px;
  cursor: pointer;
  padding: 14px 10px;
  align-items: center;
  background: rgba(0,0,0,0.25);
  border-radius: 6px;
  margin: 6px 0;
}

.song-row:hover {
  background: rgba(255,255,255,0.08);
}

/* Index */
.index {
  font-size: 20px;
  opacity: 0.7;
}

/* Song info */
.song-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-info img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  object-fit: cover;
}

.song-info p {
  color: white;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.text .title {
  font-size: 18px;
  font-weight: bold;
}

.text .artist {
  font-size: 14px;
  opacity: 0.7;
}

/* Release */
.release {
  opacity: 0.9;
}

/* Album (2-line clamp) */
.album {
  max-width: 220px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.9;
}

/* Time section */
.time-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: flex-end;
  padding-right: 10px;
}

.heart {
  cursor: pointer;
  font-size: 20px;
  color: #d63bbf;
  transition: 0.2s;
}

.heart:hover {
  color: #fff;
}

.more {
  font-size: 26px;
  cursor: pointer;
  opacity: 0.7;
}

.more:hover {
  opacity: 1;
}

.time {
  font-weight: bold;
}