
.home-container {
  display: flex;
  background: #ffffff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  flex-wrap: nowrap;
}

.main-content {
  position: relative;
  flex: 1;
  overflow-y: auto;
  background-color: #1E1E1E;
}

/* NAV BAR */

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #292929;
  border-radius: 20px;
  padding: 8px 15px;
  width: 350px;
}

.search-icon {
  color: #bbb;
  margin-right: 8px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #e754c3;
}

.nav-buttons {
  display: flex;
}

.btn-outline {
  background: transparent;
  border: 1px solid #e754c3;
  color: #e754c3;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-outline:hover {
  background-color: #e754c3;
  color: white;
}

.btn-primary {
  background-color: #e754c3;
  color: white;
  border: none;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #ff5fd2;
}


.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  transition: 0.3s;
  position: relative;
}

.user-profile:hover{
  color: #ff4bd1;
}

.dropdown-profile {
  position: absolute;
  top: 110%;
  right: center;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 130px;
  overflow: hidden;
  z-index: 100;
}

.item-dropdown {
  background: transparent;
  border: none;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.item-dropdown:hover {
  background: rgba(210, 119, 255, 0.15);
  color: #d277ff;
}

.logout:hover {
  color: #ff6b6b;
}


/* RESULT SONG */

.weekly-top {
  position: relative;
  z-index: 2;
  border-radius: 16px;
  padding: 50px;
}

.weekly-top h1{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.weekly-top h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.song-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.song-card {
  background: #1c1c1c;
  border-radius: 12px;
  padding: 10px;
  width: 170px;
  transition: 0.3s;
  cursor: pointer;
}

.song-card:hover {
  transform: translateY(-5px);
  background: #292929;
}

.song-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.song-card h3 {
  font-size: 1rem;
  font-weight: bold;
}

.song-card p {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.view-all-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  background: #1b1b1b;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.view-all-btn:hover{
  background: #b80df2;
  color: #fff;
}

/* ==== ARTIS ====== */

.artist-list {
  display: flex;
  align-items: center;
  gap: 40px;
  overflow-x: auto; 
}

.artist {
  text-align: center;
  color: #fff;
}

.artist img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.artist img:hover {
  transform: scale(1.08);
}

.artist p {
  margin-top: 0.8rem;
  font-size: 1rem;
}
