* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  background: #ffffff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  flex-wrap: nowrap;
}

/* SIDEBAR */
.sidebar {
  
  width: 250px;
  background: #111;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .sidebar {
    width: 80px;
    padding: 20px 10px;
  }
  .sidebar span, 
  .sidebar h3, 
  .sidebar p, 
  .sidebar .menu-text {
    display: none; 
  }
  .logo{
    width: 5px;
    height: 5px;
    margin-bottom: 15px;
  }

}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 25px;
}

.section-title {
  color: #b450cf;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background: #1f1f1f;
}

.menu-item.active {
  background: #e23dc9;
  color: #fff;
}

.add {
  color: #3ea8ff;
}

.logout {
  color: #f5457a;
}
