
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #292929;
  border-radius: 20px;
  padding: 8px 15px;
  width: 350px;
}

.search-icon {
  color: #bbb;
  margin-right: 8px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #e754c3;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #e754c3;
  color: #e754c3;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-outline:hover {
  background-color: #e754c3;
  color: white;
}

.btn-primary {
  background-color: #e754c3;
  color: white;
  border: none;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #ff5fd2;
}


.user-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  transition: 0.3s;
}

.user-section:hover{
  color: #ff4bd1;
  transform: translateY(-2px);
}
