
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin: 20px 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #292929;
  border-radius: 20px;
  padding: 8px 15px;
  width: 350px;
}

.search-icon {
  color: #bbb;
  margin-right: 8px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #e754c3;
}

.nav-buttons-component {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #e754c3;
  color: #e754c3;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-outline:hover {
  background-color: #e754c3;
  color: white;
}

.btn-primary {
  background-color: #e754c3;
  color: white;
  border: none;
  padding: 8px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #ff5fd2;
}


.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  transition: 0.3s;
  position: relative;
}

.user-profile:hover{
  color: #ff4bd1;
}

.dropdown-profile {
  position: absolute;
  top: 110%;
  right: center;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 130px;
  overflow: hidden;
  z-index: 100;
}

.item-dropdown {
  background: transparent;
  border: none;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.item-dropdown:hover {
  background: rgba(210, 119, 255, 0.15);
  color: #d277ff;
}

.logout:hover {
  color: #ff6b6b;
}
