
.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 9999;
}

.controls-left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
}

.icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}


.icon:hover {
  color: #e245c0;
  transform: scale(1.1);
}

.play {
  font-size: 28px;
}

.pause {
  font-size: 28px;
}

.time {
  font-size: 14px;
  color: #fff;
}

.progress-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.progress-container input[type="range"] {
  width: 100%;
  height: 5px;
  cursor: pointer;

}

.progress-container input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background: #e245c0;
  border-radius: 50%;
  cursor: pointer;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}

.song-text{
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.artist-name {
  font-size: 13px;
  font-weight: bold;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-name {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 100px;
}

.volume-bar {
  width: 80px;
  height: 5px;
  cursor: pointer;
}


.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.song-name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
